# Copy this file to .env and fill in values
TELEGRAM_BOT_TOKEN=PUT_YOUR_TOKEN_HERE

# Optional
# GOOGLE_MAPS_API_KEY=PUT_KEY_HERE
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
# UZB_BRAND_IMAGE_PATH=C:\path\to\your\brand.png

